<div class="mb-3">
  <label class="custom-label mb-3">{{ label }}</label>
  <div class="mx-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" [id]="ids[0]" [name]="name" [checked]="value" (change)="onSelect(true)" />
      <label class="form-check-label" [for]="ids[0]">Sí</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" [id]="ids[1]" [name]="name" [checked]="!value" (change)="onSelect(false)" />
      <label class="form-check-label" [for]="ids[1]">No</label>
    </div>
    <div *ngIf="showError()" class="text-danger custom-label mt-1">
      {{ determineError() }}
    </div>
  </div>
</div>
