<div class="mb-3">
  <div style="min-height: 32px">
    <label [for]="id" class="form-label custom-label">{{ label }}</label>
  </div>
  <input
    [type]="type"
    class="form-control custom-input"
    [id]="id"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [disabled]="disabled"
    [required]="showError()" />
  <div *ngIf="showError()" class="text-danger custom-label mt-1">
    {{ determineError() }}
  </div>
</div>
