<div #backdrop class="modal-backdrop" *ngIf="isVisible"></div>

<div #customModal class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="hide()" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <form>
        <div class="modal-body">
          <ng-content></ng-content>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="custom-button secondary" (click)="hide()">Cerrar</button>
          <button type="submit" class="custom-button primary" (click)="submit($event)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
