<body>
  <section class="container">
    <div class="mt-4">
      <!-- header -->
      <div>
        <h3>Elaborar Cartilla Militar</h3>
      </div>

      <!-- form -->
      <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
        <div class="mt-5">
          <!-- card data -->
          <div class="mb-4">
            <h5 class="mb-3 mx-2" style="font-weight: bold">Datos de la Cartilla</h5>

            <div class="m-1 row">
              <div class="col-md-4">
                <app-input-form id="registrationSeries" label="Serie Matrícula" formControlName="registrationSeries"></app-input-form>
              </div>
              <div class="col-md-4">
                <app-input-form id="registrationNumber" label="Número de Matrícula" formControlName="registrationNumber"></app-input-form>
              </div>
            </div>
          </div>

          <!-- separator -->
          <hr class="mb-5 mx-2" />

          <!-- personal data -->
          <div class="mb-4">
            <h5 class="mb-3 mx-2" style="font-weight: bold">Datos Básicos</h5>

            <div class="m-1 row">
              <div class="col-md-4">
                <app-input-form id="paternalSurname" label="Apellido Paterno" formControlName="paternalSurname"></app-input-form>
              </div>
              <div class="col-md-4">
                <app-input-form id="maternalSurname" label="Apellido Materno" formControlName="maternalSurname"></app-input-form>
              </div>
              <div class="col-md-4">
                <app-input-form id="name" label="Nombre(s)" formControlName="name"></app-input-form>
              </div>
            </div>
            <div class="m-1 row">
              <div class="col-md-4">
                <app-input-form id="curp" label="CURP" formControlName="curp"></app-input-form>
              </div>
              <div class="col-md-4">
                <app-input-form id="birthdate" type="date" label="Fecha de Nacimiento" formControlName="birthdate"></app-input-form>
              </div>
            </div>
          </div>

          <!-- separator -->
          <hr class="mb-5 mx-2" />

          <!-- address data -->
          <div class="mb-4">
            <h5 class="mb-3 mx-2" style="font-weight: bold">Domicilio</h5>

            <div class="m-1 row">
              <div class="col-md-4">
                <app-input-form id="nationality" label="Nacionalidad" formControlName="nationality"></app-input-form>
              </div>
              <div class="col-md-4">
                <app-input-form id="state" label="Estado" formControlName="state"></app-input-form>
              </div>
              <div class="col-md-4">
                <app-input-form id="municipality" label="Municipio" formControlName="municipality"></app-input-form>
              </div>
            </div>
            <div class="m-1 row">
              <div class="col-md-4">
                <app-input-form id="address" label="Dirección" formControlName="address"></app-input-form>
              </div>
            </div>
          </div>

          <!-- separator -->
          <hr class="mb-5 mx-2" />

          <!-- additional data -->
          <div class="mb-4">
            <h5 class="mb-3 mx-2" style="font-weight: bold">Datos Adicionales</h5>

            <div class="m-1 row">
              <div class="col-md-4">
                <app-combobox-form id="maritalStatus" label="Estado Civil" [options]="maritalStatusOptions" formControlName="maritalStatus" placeholder="Selecciona una opción"></app-combobox-form>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col" style="min-width: 110px; max-width: 110px">
                    <app-combobox-form id="lada" label="Teléfono" [options]="ladaOptions"></app-combobox-form>
                  </div>
                  <div class="col">
                    <app-input-form id="phone" label="" formControlName="phone"></app-input-form>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <app-radio-form [ids]="['literacyYes', 'literacyNo']" label="¿Sabe leer y escribir?" name="literacy" formControlName="literacy"></app-radio-form>
              </div>
            </div>
          </div>
        </div>

        <!-- separator -->
        <hr class="mb-5 mx-2" />

        <!-- father data -->
        <div class="mb-4">
          <h5 class="mb-3 mx-2" style="font-weight: bold">Datos del Padre</h5>

          <div class="m-1 row">
            <div class="col-md-4">
              <app-input-form id="fatherPaternalSurname" label="Apellido Paterno" formControlName="fatherPaternalSurname"></app-input-form>
            </div>
            <div class="col-md-4">
              <app-input-form id="fatherMaternalSurname" label="Apellido Materno" formControlName="fatherMaternalSurname"></app-input-form>
            </div>
            <div class="col-md-4">
              <app-input-form id="fatherName" label="Nombre(s)" formControlName="fatherName"></app-input-form>
            </div>
          </div>
          <div class="m-1 row">
            <div class="col-md-4">
              <app-radio-form [ids]="['fatherAliveYes', 'fatherAliveNo']" label="¿Vive?" name="fatherAlive" formControlName="fatherAlive"></app-radio-form>
            </div>
          </div>
        </div>

        <!-- separator -->
        <hr class="mb-5 mx-2" />

        <!-- mother data -->
        <div class="mb-4">
          <h5 class="mb-3 mx-2" style="font-weight: bold">Datos de la Madre</h5>

          <div class="m-1 row">
            <div class="col-md-4">
              <app-input-form id="motherName" label="Nombre" formControlName="motherName"></app-input-form>
            </div>
            <div class="col-md-4">
              <app-input-form id="motherPaternalSurname" label="Apellido Paterno" formControlName="motherPaternalSurname"></app-input-form>
            </div>
            <div class="col-md-4">
              <app-input-form id="motherMaternalSurname" label="Apellido Materno" formControlName="motherMaternalSurname"></app-input-form>
            </div>
          </div>
          <div class="m-1 row">
            <div class="col-md-4">
              <app-radio-form [ids]="['motherAliveYes', 'motherAliveNo']" label="¿Vive?" name="motherAlive" formControlName="motherAlive"></app-radio-form>
            </div>
          </div>
        </div>

        <!-- separator -->
        <hr class="mb-5 mx-2" />

        <!-- grandparents data -->
        <div class="mb-4">
          <h5 class="mb-3 mx-2" style="font-weight: bold">Datos de Abuelos</h5>

          <div class="m-1 row">
            <div class="col-md-4">
              <app-input-form id="livingGrandParents" type="number" label="Abuelos que aún viven" formControlName="livingGrandParents"></app-input-form>
            </div>
          </div>
        </div>

        <!-- separator -->
        <hr class="mb-5 mx-2" />

        <!-- spouse data -->
        <div class="mb-4">
          <h5 class="mb-3 mx-2" style="font-weight: bold">Datos del Cónyuge</h5>

          <div class="m-1 row">
            <div class="col-md-4">
              <app-radio-form [ids]="['spouseAliveYes', 'spouseAliveNo']" label="¿Vive?" name="spouseAlive" formControlName="spouseAlive"></app-radio-form>
            </div>
          </div>
        </div>

        <!-- separator -->
        <hr class="mb-5 mx-2" />

        <!-- children data -->
        <div class="mb-4">
          <h5 class="mb-3 mx-2" style="font-weight: bold">Datos de Hijos</h5>

          <div class="m-1 row">
            <div class="col-md-4">
              <app-input-form type="number" id="numberChildren" label="Número de Hijos" formControlName="numberChildren"></app-input-form>
            </div>
          </div>
        </div>

        <!-- separator -->
        <hr class="mb-5 mx-2" />

        <!-- submit button -->
        <div class="d-grid gap-2 col-3 mx-auto mb-5">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </section>
</body>
