$color-primary: #ba0000;
$color-secondary: #717171ff;

body {
  padding-top: 30px;
}

td {
  align-content: center;
  height: 50px;
}

hr {
  width: 75%;
  margin: 0 auto;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: $color-primary;
}

.custom-label {
  color: $color-secondary;
  margin-left: 0.5vh;
}

.custom-button {
  border: none;
  width: auto;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.primary {
  background-color: $color-primary;
  color: #ffffff;

  &:hover {
    background-color: rgba(186, 0, 0, 0.84);
    color: #ffffff;
  }

  &:active {
    background-color: rgba(186, 0, 0, 0.73);
    color: #ffffff;
  }
}

.secondary {
  background-color: $color-secondary;
  color: #ffffff;

  &:hover {
    background-color: rgba(113, 113, 113, 0.84);
    color: #ffffff;
  }

  &:active {
    background-color: rgba(113, 113, 113, 0.73);
    color: #ffffff;
  }
}

.red-pagination .ngx-pagination .current {
  background: $color-primary;
}
